@model CheatSheetEdit
@{
    ViewData["Title"] = "Edit";
}

@foreach (var tvm in Model.Topics)
{
    <h5>
        @tvm.Name
        <a asp-area="" asp-controller="Topic" asp-action="Edit" asp-route-id="@tvm.Id">Edit</a>
        <a asp-area="" asp-controller="Topic" asp-action="Delete" asp-route-id="@tvm.Id">Delete</a>
    </h5>

    <ul>
        @foreach (var pvm in tvm.Points)
        {
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id=@Model.Id>@Html.Raw(pvm.Preview)</a>
                <a asp-area="" asp-controller="Point" asp-action="Edit" asp-route-id="@pvm.Id">Edit</a>
                <a asp-area="" asp-controller="Point" asp-action="Delete" asp-route-id="@pvm.Id">Delete</a>
            </li>
        }

        @{var routeData = new Dictionary<string, string>()
        {
            { "sheetId", Model.Id.ToString() },
            { "topicId", tvm.Id.ToString() }
        };
        }
        <li>
            <a asp-area="" asp-controller="Point" asp-action="Create" asp-all-route-data="@routeData">Add new point</a>
        </li>
    </ul>
}
<br />
<a asp-area="" asp-controller="Topic" asp-action="Create" asp-route-id="@Model.Id">Add new topic</a>


